<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sobre</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="navbar">
    <div class="logo">ÁGUA DOCE BOUTIQUE</div>
    <nav class="menu">
      <a href="{{ url_for('routes.index') }}">Home</a>
      <a href="{{ url_for('routes.feminino') }}">Feminino</a>
      <a href="{{ url_for('routes.masculino') }}">Masculino</a>
      <a href="{{ url_for('routes.sobre') }}">Sobre</a>
      <a href="{{ url_for('routes.contato') }}">Contato</a>
    </nav>
  </header>

  <section class="about">
    <h3>Sobre a Água Doce Boutique</h3>
    <h5>
      Somos uma loja de roupas que busca oferecer estilo, conforto e 
      qualidade para todos os momentos do seu dia. Nossa boutique é um espaço 
      pensado para quem valoriza a moda e bom atendimento. <br>
      Somos revendedores autorizados da marca Hering, reconhecida nacionalmente
      pela sua tradição e versatilidade, mas também trabalhamos com outras marcas 
      selecionadas para oferecer um mix variado de peças que combinam com diferentes
      estilos e ocasiões.
    </h5>
  </section>

  <footer class="footer">
    <p>&copy; 2025 Água Doce Boutique. Todos os direitos reservados.</p>
    <h5>Água Doce Boutique. Rua Frâncisco Cândido de Souza, 43, Nova Resende - MG</h5>
  </footer>
</body>
</html>
